*{
    margin: 0px;
    padding: 0px;
}
.box4{
    width: 100%;
    height: 960px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}
.box4 h3{
    font-weight: 500;
}
.box4 .san1{
    width: 35%;
    height: 960px;
    /* border: 1px solid black; */
}
.box4 .san1 .d1{
    width: 350px;
    height: 190px;
    /* border: 1px solid black; */
    margin-top: 10px;
}
.box4 .san1 .d1 img{
    width: 350px;
    height: 190px;
    border-radius: 100px;
    margin-left: 23px;
    margin-top: 5px;
    /* border: 5px solid rgb(87, 87, 255); */
}
.box4 .san1 .d2{
    /* width: 313px; */
    width: 470px;
    height: 737px;
    /* border: 1px solid black; */
    margin-top: 20px;
    line-height: 1.6em;
}
.san1 h3{
    color: rgb(81, 81, 255);
    font-size: x-large;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.san1 p{
    margin-left: 20px;
    font-size: 19px;
}
.san1 li{
    margin-left: 30px;
    font-size: 19px;
   
}
.box4 .san2{
    width: 65%;
    height: 960px;
    /* border: 1px solid black; */
    background-color: white;
}
.box4 .san2 .d3{
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4 .san2 .d3 img{
    width: 55%;
    height: 150px;
    /* border: 1px solid black; */
}
.box4 .san2 .d4{
    width:825px;
    height: 705px;
    /* border: 1px solid black; */
    padding: 25px;
    /* margin-left: 65px; */
    line-height: 2.5em;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.d4 h3{
    color: rgb(81, 81, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.san2 p{
    font-size: 23px;
}